@font-face {
  font-family: "SFPro";
  src: url(../fonts/SFProDisplay-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;

  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 105px 1fr 156px;
  grid-template-areas:
    "header"
    "main"
    "footer";

  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 24px;
  align-content: center;

  grid-area: header;

  padding: 44px 0 22px;
}

.header a {
  grid-column: 1;
}

.header-input {
  grid-column: 2/3;
  padding: 8px 12px 8px 32px;

  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
}

input.header-icon {
  background-image: url(../img/header/home.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}

input[placeholder] {
  font-family: "SFPro", sans-serif;
  font-size: 16px;
}

.header-buttons {
  grid-column: 3;
  justify-self: end;
}

.menu__btn {
  display: none;
}

#menu__toggle {
  opacity: 0;
  display: none;
}

button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;

  font-family: "SFPro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;

  background-color: #1890ff;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

button:last-of-type {
  margin-left: 10px;

  color: #595959;

  background-color: #fff;
  border: 1px solid #d9d9d9;
}

button > img {
  margin-right: 4px;
}

/* Main */

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 300px 42px 1fr fit-content(20%);
  gap: 56px 24px;

  padding-top: 18px;
  padding-bottom: 30px;

  grid-area: main;
}

.promo-bg {
  grid-column: 1/13;
  grid-row: 1;
  height: 100%;

  background-color: #fff1b8;
  background-image: url(../img/main/promo-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.promo-text {
  grid-column: 2 / span 5;
  grid-row: 1;

  margin-left: -24px;
  padding: 68px 0;
}

h1 {
  margin: 0;
  margin-bottom: 15px;

  color: #302c34;
  font-size: 39px;
  font-weight: 700;
}

.promo-text p {
  color: #302c34;
  font-size: 24px;
  font-weight: 400;
}

main h2 {
  grid-column: 1 / span 2;
  grid-row: 2/3;

  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

main input {
  grid-row: 2/3;
  grid-column: 10 / span 3;

  margin-left: -24px;
  padding: 5px 12px 5px 32px;

  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
}

.search-icon {
  background-image: url(../img/main/search.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
  grid-template-rows: repeat(2, 377px);
  grid-auto-rows: 377px;
  gap: 24px;

  grid-row: 3;
  grid-column: 1/13;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;

  padding: 20px 24px 35px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h3 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.subtitle {
  display: flex;
}

.card-img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.label {
  padding: 1px 8px;

  font-family: "SFPro";
  font-size: 12px;
  color: #fff;
  line-height: 20px;

  border-radius: 2px;
  background: #262626;
}

.rating {
  margin-right: 26px;

  font-size: 18px;
  font-weight: 700;
  color: #ffc107;
}

.rating img {
  margin-right: 7px;
}

.price {
  display: flex;
  align-items: center;

  color: #8c8c8c;
  font-size: 18px;
  font-weight: 400;
}

.dot {
  display: inline-block;
  margin: 0 10px 0;
  background-color: #8c8c8c;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

/* Info */

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 30px;

  grid-column: 1/13;
  grid-row: 4;
}

.info h2 {
  grid-column: 1/3;
  grid-row: 1 / 2;
}

.info-article {
  display: flex;
  flex-direction: column;
  padding: 36px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 7px 10px 16px 1px rgba(0, 0, 0, 0.22);
}

.info-article__img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.info-article h3 {
  margin-bottom: 15px;

  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.info-article p {
  color: #302c34;
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  grid-area: footer;

  padding: 60px 0;
}

.footer ul {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #595959;
  font-size: 18px;
  font-weight: 400;
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation img {
  margin-right: 36px;
}

.nav-list {
  display: flex;
  gap: 15px;
}

.social-links {
  justify-self: end;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 21px;
}

/* max-width: 1024px */

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }

  .header {
    grid-template-columns: 1fr 3fr 2fr;
  }

  .promo-text {
    padding: 32px 0;
  }

  h1 {
    font-size: 32px;
  }
  .promo-text p {
    font-size: 22px;
  }
  main h2 {
    font-size: 30px;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info h2 {
    grid-column: 1;
  }

  .footer {
    grid-template-columns: 4fr 1fr;
  }
}

/* max-width: 768px */

@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: 105px 1fr 175px;
  }

  .header {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .header-buttons {
    position: relative;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: -24px;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 0;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #595959;

    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    visibility: hidden;
    top: -44px;
    right: -100%;

    width: 262px;
    height: 215px;

    margin: 0;
    padding: 51px 24px;

    list-style: none;

    background-color: #fbfbfb;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    border-radius: 7px;

    transition-duration: 0.25s;
  }

  .menu__box img {
    display: none;
  }

  button {
    color: #595959;
    background-color: transparent;
  }

  button:last-of-type {
    background-color: transparent;
    border: none;
    margin-left: 0;
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 42px 42px 2fr fit-content(20%);
    gap: 15px 0;
    padding-top: 0;
  }

  .promo-bg {
    grid-column: 1;
    background-position: 90px;
    background-size: cover;
  }

  .promo-text {
    grid-column: 1;
    margin-left: 0;
    max-width: 400px;
    padding: 32px 20px 32px 20px;
  }

  h1 {
    margin-bottom: 30px;
  }

  main h2 {
    grid-column: 1;
  }

  main input {
    grid-column: 1;
    margin-left: 0;
    grid-row: 3/4;
  }

  .cards {
    grid-column: 1;
    grid-row: 4/5;
    gap: 15px;
    margin-bottom: 15px;
  }

  .info {
    grid-column: 1;
    grid-row: 5/6;
    gap: 15px;
  }

  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 0;
    padding: 18px 0;
  }

  .navigation {
    flex-direction: column;
    gap: 10px;
  }

  .navigation img {
    margin-right: 0;
  }

  .nav-list {
    justify-content: space-between;
    width: 100%;
  }

  .social-links {
    justify-self: center;
  }
}

/* max-width: 425px */

@media screen and (max-width: 425px) {
  .container {
    grid-template-rows: 140px 1fr 175px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0;
    row-gap: 10px;
    padding: 33px 0 12px;
  }

  .header-input {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .promo-text {
    text-align: center;
    justify-self: center;
  }

  .main {
    padding-bottom: 15px;
  }

  main input {
    margin-bottom: 10px;
  }

  main h2 {
    font-size: 26px;
  }

  .cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 355px);
    grid-auto-rows: 355px;
  }

  .card-img {
    height: 100%;
  }

  .card-description {
    padding: 15px 17px 24px;
    flex-basis: 40%;
  }

  .title h3 {
    font-size: 20px;
  }

  .price {
    font-size: 16px;
  }

  .info-article h3 {
    font-size: 20px;
  }

  .info-article p {
    font-size: 16px;
    line-height: 27px;
  }

  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-list a {
    font-size: 16px;
  }
}

/* max-width: 375px */

@media screen and (max-width: 375px) {
  .header {
    padding: 20px 0 12px;
  }

  .main {
    grid-template-rows: 300px 30px 42px 2fr fit-content(20%);
    gap: 10px 0;
  }

  main h2 {
    font-size: 22px;
  }
  main input {
    margin-bottom: 0;
  }

  .promo-bg {
    background-position: center;
    opacity: 0.7;
  }

  .promo-text {
    z-index: 1;
  }
  .promo-text p {
    font-size: 18px;
  }

  h1 {
    font-size: 28px;
  }
}

/* max-width: 320px */

@media screen and (max-width: 320px) {
  .price {
    font-size: 14px;
  }
}
